body {
    font-family: Arial, sans-serif;
    margin: 0px 0px 0px 0px;
    color: white;
    background-color: rgb(255, 255, 255);
}

header {
    width: 100%;
    margin: 0px 0px 0px 0px;
    background-color: #382f6f;
}

.titulo {
    padding-left: 2%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-titulo{
    display: flex;
    align-items: center;
}

.titutlo-nombre {
    padding-left: 1%;
}

.buscador {
    margin-left: auto;
    padding-right: 2%;
}

.buscador form {
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
}

.buscador input[type="text"] {
    padding-right: 40px;
    width: 100%;
}

.buscar {
    position: absolute;
    right: 0;
    padding: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search {
    appearance: none;
    border: none;
    outline: none;
}

.enlaces-enlaces {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-bottom: 2%;
}

.enlaces-enlaces li {
    padding-left: 1%;
}

.lista-categorias {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

.lista-categorias li{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 200px;
    display: flex;
}

.lista-categorias a {
    padding-bottom: 10%;
    padding-top: 10%;
    width: 200px;
    transition: all 0.3s ease;
    color: black;
    padding-left: 2%;
}
.lista-categorias a:hover {
    padding-left: 5%;
    color: #382f6f;
}

.categorias {
    background-color: #e0e0e0;
    color: black;
    display: flex;
    flex-direction: column;
}

.categorias span {
    font-weight: bold;
    font-size: 20px;
    background-color: #8b8b8b;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}


.contenedor {
    display: flex;
}

.categorias {
    margin-left: 5%;
}
.contenido{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #483d8b;
    width: 100%;
}
.slider{
    width: 100%;
    /* height: 75%; */
}
.slider img{
    width: 100%;
    /* height: 100%; */
}
.destacados h2{
    margin-left: 5%;
}